:root {
    --primary-color: #FDF1FF;
    --secondary-color: #5F0081;
    --tertiary-color: #CB38FF;
    --light-color: #fff;
    --blue-color: #002077;
    --green-color: #005414;
}

* {
    font-family: Arial, sans-serif;
}


body {
    background-color: var(--primary-color) !important;
}

h1, h3 {
    color: var(--secondary-color) !important;
}


/* PRE-LOADER */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 5px solid;
    border-color: transparent var(--secondary-color) var(--secondary-color);
    border-radius: 50%;
    -webkit-animation: spin 300ms linear infinite;
    animation: spin 300ms linear infinite;
}
#forLoader {
    display: none;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* DARK MODE */

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 9px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 34px;
    transition: .4s;
    margin-left: 10px;
  }

  .slider:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
  }

  input:checked + .slider {
    background: var(--tertiary-color);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .dark-mode {
    background: #140018 !important;
  }

  .dark-mode input, .dark-mode select {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
  }

  .dark-mode label {
    color: var(--primary-color);
  }

  .dark-mode h1, .dark-mode input, .dark-mode select, .dark-mode .bi, .dark-mode p {
    color: var(--primary-color) !important; 
  }

  .dark-mode input:focus {
    color: var(--light-color) !important;
    background-color: transparent;
  }

  .dark-mode option {
    background-color: var(--secondary-color);
  }


/* FORM */
.form .pp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}

.form .pp img {
    border-radius: 100px;
    border: 2px solid var(--secondary-color);
    width: 170px;
    height: 170px;
}

.form .pp input[type="file"] {
    display: none;
}

.form p {
    color: var(--secondary-color);
    cursor: pointer;
}

.form p:hover, .form .bi-arrow-right:hover {
    color: var(--blue-color);
    font-weight: bold;
}

.form .toggle-pass {
    top: 10px;
    right: 10px;
    position: absolute;
}

.form .btn-profile {
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.form .btn-profile:hover {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.form .btn-save {
    border: none;
    border-radius: 5px;
    background-color: var(--green-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 14px;
}

.form .btn-save:hover {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.form .btn-reset {
    border: none;
    border-radius: 5px;
    background-color: var(--blue-color);
    color: var(--light-color);
    padding: 10px;
    font-size: 14px;
}

.form .btn-reset:hover {
    background-color: var(--tertiary-color);
    color: var(--light-color);
    transition: 0.5s;
}

.form .split {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MEDIA QUERY */

@media screen and (max-width: 510px) {

    .form h1 {
        font-size: 25px;
    }

    .form h3 {
        font-size: 18px;
    }

    .form .pp img {
        width: 100px;
        height: 100px;
    }

    .form .btn-profile, .form .btn-save, .form .btn-reset, .form label, 
    .form input, .form input::placeholder, .form select, .form a, .form p{
        font-size: 12px;
    }

    .form .split {
        display: flex;
        flex-direction: column;
    }
}
